.panel-primary{
    border-color: #428bca;
}
.panel-heading{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #1da02b;
    box-sizing:boder-box;
	font-size: 15px;
}	
h4{
	margin:6px 0;
}
.datagrid-body{
	min-height:420px;
}
.panel-body {
    padding: 15px;
}
.div_lable{
	float: left;
	text-align: center;
	font-size: 20px;
	width: 15%;
}
.label_count {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.aLink {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height:20px;
    line-height: 20px;
    background-color: #1da02b;
    font-size: 15px;
    text-decoration :none;
    padding: 0;
    cursor: pointer;
    text-align: center;
}